#### 1. Find out all the types of error that we have encountered in our lecture and why ? Also include the examples

#### 1.Name Error

In [1]:
Print("Good Evening")

NameError: name 'Print' is not defined

In [6]:
print("Good Evening")

Good Evening

In [2]:
#'Print' is function in python which prints the given object to the standard output device
# here the function is in invalid format (case sensitive) i.e <Print> instead of <print>

#### 2. Syntax Errror

In [3]:
print("Good 
Evening")

SyntaxError: EOL while scanning string literal (<ipython-input-3-f065c2c370f4>, line 1)

In [8]:
print("""Good
Evening""")

Good
Evening

In [11]:
print("Good \nEvening")

Good
Evening

In [5]:
# Since python is interpretor Language, it scans each line of code.when it tried to scan the string literal.
# It must be enclosed in single and double quotation marks or may be '\n' --> newline character. 
# It must match the beginning and ending quotation marks or or triple quotes for multiline statement.

#### 2.1 Syntax Error

In [12]:
print("Hi my name is "Sunny" ")

SyntaxError: invalid syntax (<ipython-input-12-c05eadb38bca>, line 1)

In [ ]:
# It is syntax error,stating invalid syntax i.e we can't use double quotes inside string rather we can use triple quotes
# or single quotes or we can even escape charater to overcome this issue.

In [13]:
print("Hi my name is \"Sunny\" ")

Hi my name is "Sunny"

In [14]:
print("""Hi my name is "Sunny" """)

Hi my name is "Sunny"

In [15]:
print('Hi my name is "Sunny"')

Hi my name is "Sunny"

#### 2.2 Syntax Error

In [16]:
ten* = 10

SyntaxError: invalid syntax (<ipython-input-16-186f8d3ec400>, line 1)

In [ ]:
# Here we can't use special characters in variables. Since variables is combination of lowercase or uppercase or digits(0-9)
# or underscore.
# It cannot start with a digit.
# keywords can't be used as variables.
# we cannot use special characters like !,%,@,$,# etc...

In [17]:
ten_ = 10

#### 3. Type Error

In [18]:
"Day " + 1

TypeError: can only concatenate str (not "int") to str

In [ ]:
# It is type error, stating can concatenate str to str. which means we can use two strings to add or concatenate them.

In [19]:
"Day " + str(1)

'Day 1'

#### 3.1 Type Error

In [20]:
print = "Hi there" # as a variable
type(print)

str

In [21]:
print("Hi there")

TypeError: 'str' object is not callable

In [ ]:
# This is Type error where print built-in function is used as variable. In order to overcome this we need del the print
# function and post that it would be working fine.

In [22]:
del print

In [23]:
print("Hi there")

Hi there

#### 3.2 Type Error

In [24]:
a,b,c = 10

TypeError: cannot unpack non-iterable int object

In [ ]:
# This one is type error where in 3 variables are declared and only one data value is assigned.

In [25]:
a = b = c = 10

In [27]:
print(a)
print(b)
print(c)

10
10
10

In [28]:
a,b,c = 10,10,10

#### 3.3 Type Error

In [29]:
name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ")

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: SURENDER
place: Bengaluru
year_of_birth: 1995

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [33]:
# This one is type error where while perforiming arithemetic operation we need to numbers(int,float).
# here input gives str data type and hence convert it into int

In [32]:
name = (input("Name: ")) # always gives you string values
place = input("place: ")
year_of_birth = int(input("year_of_birth: "))

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: SURENDER S K
place: Bengaluru
year_of_birth: 1995

My name is: SURENDER S K
I live at: Bengaluru
SURENDER S K is of age: 27

#### 2. Take input user A and B and print their sum, multiplication,division,square of the No.s

In [20]:
A = float(input("Enter the First Number : "))
B = float(input("Enter the Second Number : "))
print(f"The Sum of {A} and {B} : {A+B}")
print(f"The Multiplication of {A} and {B} : {A*B}")
print(f"The Division of {A} and {B} : {round(A/B,2)}")
print(f"The Square of {A} and {B} : {A**B}")

Enter the First Number : 5
Enter the Second Number : 6
The Sum of 5.0 and 6.0 : 11.0
The Multiplication of 5.0 and 6.0 : 30.0
The Division of 5.0 and 6.0 : 0.83
The Square of 5.0 and 6.0 : 15625.0

#### How many reserve keywords are there in python and why we should not use them as a variable name.

In [3]:
import keyword

In [10]:
print("The reserve keywords present in the python are : {}".format(keyword.kwlist))

The reserve keywords present in the python are : ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [11]:
print("The Total Number of Keywords present in the keyword : {}".format(len(keyword.kwlist)))

The Total Number of Keywords present in the keyword : 35

In [48]:
# The Keywords are reserved words in python.
# We can't use keyword as function name, variable name or any other identifier. They are used to define syntax and 
# structure in python and They also case sensitive.

#### Create email id with user input in the following format - lastname.firstname@gmail.com

In [15]:
firstname,middlename,lastname = "sk","","Surender"

In [16]:
print(f"{lastname}.{firstname}@gmail.com") #Formatted string approach

Surender.sk@gmail.com

In [18]:
print("{0}.{1}@gmail.com".format(lastname,firstname)) ## Old way

Surender.sk@gmail.com

#### Try to print the following Lines
##### Hi I'm Sunny
##### My address is 22/3
##### I earn 20$ daily

In [17]:
print("""
Hi I'm Sunny
My address is 22/3
I earn 20$ daily
""")

Hi I'm Sunny
My address is 22/3
I earn 20$ daily

#### Take user input to input(name, address, data_of_birth) to fill a form for your college and print their email IDs

In [47]:
firstname = input("Enter the Firstname : ")
lastname = input("Enter the Lastname : ")
address = input("Enter the address : ")
year_of_birth = int(input("Enter the Year of Birth : "))
print(f"The Student's Email I'd : {firstname}.{lastname}@gmailcom")

Enter the Firstname : Surender
Enter the Lastname : sk
Enter the address : Benagluru 22/3
Enter the Year of Birth : 1995
The Student's Email I'd : Surender.sk@gmailcom

#### Convert the following

In [39]:
#"22.4"
print(int(float("22.4")))

22

In [40]:
num = "22.4"
convert_num = float(num)
print(int(convert_num))

22

In [42]:
#"22"
n1 = "22"
con_n1 = int(n1)
print(con_n1)
complex_output = complex(con_n1)
print(complex_output)

22
(22+0j)